.title {
	background-color: white;
	border-radius: 10px;
}

.sub {
	color: white;
	border-radius: 5px;
}

.sub:hover {
	background-color: lightblue;
	color: black;
}


body {
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}